<div id="addUser">

    <!--<div class="row">
        <div class="col-md-12" ng-if="successMessage != ''">
            <h3>{{ successMessage }}</h3>
        </div>
    </div>-->

    <div class="row form-line-holder" ng-if="isSystemAdmin">
        <div class="col-md-4">
            <label>Organisation</label>
        </div>
        <div class="col-md-8">
            <select 
                    class="form-control" 
                    ng-model="user.organisation"
                    ng-options="organisation as organisation.Name for organisation in organisationList"
                    ng-change="getReferringAuthorities(user.organisation)">
                <option value="">Please select an organisation</option>
            </select>
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder" ng-show="referringAuthorities.length > 0">
        <div class="col-md-4">
            <label>&nbsp;</label>
        </div>
        <div class="col-md-8">
            <input type="checkbox" ng-model="isReferringAuthoryUser" ng-click="setInitialRole(isReferringAuthoryUser)" />
            <span>Referring Authority User</span>
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder" ng-show="isReferringAuthoryUser">
        <div class="col-md-4">
            <label>Referring Authority</label>
        </div>
        <div class="col-md-8">
            <select class="form-control"
                    ng-model="user.referringAuthorityId"
                    ng-options="ra.Id as ra.Name for ra in referringAuthorities"
                    title="Please select a Referring Authority">
                <option value="">Please select a Referring Authority</option>
            </select>
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder">
        <div class="col-md-4">
            <label>Name</label>
        </div>
        <div class="col-md-8">
            <input type="text" 
                   class="form-control" 
                   ng-model="user.name"
                   ng-required="true"
                   ng-minlength="1"
                   />
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder">
        <div class="col-md-4">
            <label>Email Address:</label>
        </div>
        <div class="col-md-8">
            <input 
                   type="text" 
                   class="form-control" 
                   ng-model="user.email" 
                   ng-required="true"
                   ng-minlength="1"
                   />
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder">
        <div class="col-md-4">
            <label>Confirm Email:</label>
        </div>
        <div class="col-md-8">
            <input type="text" 
                   class="form-control" 
                   ng-model="user.emailConfirm"
                   ng-required="true"
                   />
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder">
        <div class="col-md-4">
            <label>Phone:</label>
        </div>
        <div class="col-md-8">
            <input type="text" 
                   class="form-control" 
                   ng-model="user.phone"
                   ng-required="true"
                   ng-minlength="1"

                   />
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder">
        <div class="col-md-4">
            <label>Initial Role</label>
        </div>
        <div class="col-md-8">
            <select 
                    class="form-control" 
                    ng-model="user.role"
                    ng-required="true"
                    ng-minlength="1"
                    ng-options="role as role for role in initialRoles"
                    ng-disabled="rolesDisabled">
            </select>
        </div>
    </div><!-- end .row -->

    <div class="row form-line-holder" ng-show="validated.length > 0">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div ng-repeat="validation in validated">
                <font color="scarlett">{{ validation }}</font>
            </div>
        </div>
    </div><!-- end .row -->

    <!-- Start the buttons -->
    <div class="row action-button-container marginBottom10">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <div class="userButton btn" ng-click="cancelAddUser('addUserModal')">Cancel</div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <div class="userButton save btn" ng-click="addUser()">Save</div>
                </div>
            </div><!-- end .row-->
        </div><!-- end .col-md-8 -->
    </div><!-- end .row .action-button-container -->
    <div class="row col-sm-12 noRightPadding" ng-if="!successMessage === false">
        <div class="col-sm-12 success-message noRightPadding rightalign">{{ successMessage }}</div>
    </div>

    <div class="row col-sm-12 noRightPadding" ng-if="!validationMessage === false">
        <div class="col-sm-12 validation-message noRightPadding rightalign">{{ validationMessage }}</div>
    </div>
</div>
