<div id="addNetcallAgent" class="netcallAddAgent">
    <div>
        
        <!-- System Support Users smart table -->
        <div class="row">
            <div class="col-sm-12">
                <table st-table="supportUsers" st-safe-src="displaySupportUsers" class="table">
                    <thead>
                        <tr>
                            <th colspan="12">
                                <input st-search="Name" class="form-control" placeholder="Filter Users" type="search" />
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="Name">
                                Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supportUser in supportUsers"
                            class="supportUsersList"
                            ng-click="selectSupportUser(supportUser)"
                            ng-class="{selectedSupportUser : selectedSupportUserId == supportUser.Id}">
                            <td>
                                {{ supportUser.Name }}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
               
                <div class="col-sm-10">
                    <div class="marginBottom5">
                        <button class="btn" ng-click="makeSelectedUserANetcallAgent()" ng-disabled="IsAgentSelected()">Select</button>
                    </div>
                </div>
                <!--<div class="col-sm-1">
                    <div class="marginBottom5">
                        <button class="btn" ng-disabled="selectedSupportUserId < 1" ng-click="removeSystemSupportUser(selectedSupportUserId)">Cancel</button>
                    </div>

                </div>-->
                <div class="col-sm-2"></div>
            </div>

        </div>

    </div>
</div>
