<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iam-atlas-demo.azurewebsites.net/netcall</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iam-atlas-demo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iam-atlas-demo/netcall</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iam-atlas-demo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Atlas_DevEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:atlasdemo.database.windows.net,1433;Initial Catalog=Atlas_Demo;User ID=AtlasDemo@atlasdemo;Password=4tl45d3m02017~!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IAM.Atlas.Data.Atlas_DevEntities, IAM.Atlas.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Atlas_DevEntitiesViews" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:atlasdemo.database.windows.net,1433;Initial Catalog=Atlas_Demo;User ID=AtlasDemo@atlasdemo;Password=4tl45d3m02017~!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IAM.Atlas.Data.Atlas_DevEntitiesViews, IAM.Atlas.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Atlas_DevEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atlasdemo.database.windows.net,1433;Initial Catalog=Atlas_Demo;User ID=AtlasDemo@atlasdemo;Password=4tl45d3m02017~!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Atlas_DevEntitiesViews-Web.config Connection String">
      <ParameterValue>metadata=res://*/ViewsOnlyModel.csdl|res://*/ViewsOnlyModel.ssdl|res://*/ViewsOnlyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atlasdemo.database.windows.net,1433;Initial Catalog=Atlas_Demo;User ID=AtlasDemo@atlasdemo;Password=4tl45d3m02017~!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>

