<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iam-atlas-test.azurewebsites.net/webapi</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iam-atlas-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iam-atlas-test/webapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iam-atlas-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Atlas_DevEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ymw3trna08.database.windows.net,1433;Initial Catalog=Atlas_Test;User ID=AtlasDev@ymw3trna08;Password=IAM2015dev~!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.50.4;Initial Catalog=Atlas_Test;Persist Security Info=True;User ID=AtlasDev;Password=AtlasDev201504~!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Atlas_DevEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.50.4;initial catalog=Atlas_Test;persist security info=True;user id=AtlasDev;password=AtlasDev201504~!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Atlas_DevEntitiesViews" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ymw3trna08.database.windows.net,1433;Initial Catalog=Atlas_Test;User ID=AtlasDev@ymw3trna08;Password=IAM2015dev~!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.50.4;Initial Catalog=Atlas_Test;Persist Security Info=True;User ID=AtlasDev;Password=AtlasDev201504~!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Atlas_DevEntitiesViews_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ViewsOnlyModel.csdl|res://*/ViewsOnlyModel.ssdl|res://*/ViewsOnlyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ymw3trna08.database.windows.net,1433;initial catalog=Atlas_Test;user id=AtlasDev@ymw3trna08;password=IAM2015dev~!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Atlas_DevEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atlastest.database.windows.net,1433;Initial Catalog=Atlas_Test;User ID=Atlas!Test1961@atlastest;Password=IAM1961!TestAndDev;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Atlas_DevEntitiesViews-Web.config Connection String">
      <ParameterValue>metadata=res://*/ViewsOnlyModel.csdl|res://*/ViewsOnlyModel.ssdl|res://*/ViewsOnlyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atlastest.database.windows.net,1433;Initial Catalog=Atlas_Test;User ID=Atlas!Test1961@atlastest;Password=IAM1961!TestAndDev;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>