<div id="DORSDefaultConnectionRotationDiv">
    <drag-drop-update reference-one-title="For Course"
                      reference-one-value="Test Course"
                      reference-two-title="OrganisationId"
                      reference-two-value="OrganisationId"
                      show-reference-header=false
                      from="selected"
                      to="available"
                      from-data-source="available"
                      to-data-source="selected"
                      list-one-header="Available DORS Connections"
                      list-two-header="Default DORS Connections"></drag-drop-update>
</div>