
    <div class="row">
        <div class="col-md-4">
            Licence Number: 
        </div>
        <div class="col-md-8">
            <input type="text" ng-model="model.LicenceNumber" />&nbsp;<button class="btn" ng-click="getDORSLicenceInformation()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-8">
            <b>{{ model.CurrentLicenceNumber }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Eligible for DORS Courses:</div>
        <div class="col-md-8">
            <div ng-repeat="clientStatus in model.ClientStatuses" ng-show="clientStatus.AttendanceStatusId < 7">
                {{ clientStatus.SchemeName }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Additional DORS information:</div>
        <div class="col-md-8" id="additionalDorsInfo">
            <div ng-repeat="clientStatus in model.ClientStatuses" class="dorsClientStatus">
                <table>
                    <tr>
                        <td>
                            Status:
                        </td>
                        <td>
                            {{ clientStatus.AttendanceStatus }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Scheme:
                        </td>
                        <td>
                            {{ clientStatus.SchemeName }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Force:
                        </td>
                        <td>
                            {{ clientStatus.ForceName }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Expiry:
                        </td>
                        <td>
                            {{ formatDate(clientStatus.ExpiryDate) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Atlas Information Held:</div>
        <div class="col-md-8">
            <div ng-repeat="client in model.ClientsWithLicenceNumber">
                <div>
                    Client (Id {{ client.Id }}) was registered on {{ formatDate(client.DateCreated) }}
                </div>
                <div>
                    <div ng-repeat="clientCourse in client.CourseClients">
                        {{ clientCourse.Course.CourseType.Title }} course booked: {{ formatDate(clientCourse.DateAdded) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
