<div class="row separate-row-top separate-row">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10 system-message-response {{ systemStatus.SystemColour }}">
            <!--<div class="system-icon {{ systemStatus }}"></div>-->
            <div class="system-icon"></div>
            <div class="system-message">{{ systemStatus.SystemBlockedMessage }}</div>

        </div>
        <div class="col-md-1"></div>

    </div><!-- end .row -->

</div><!-- end .row -->