<div id="clientCourseConfirmation" class="registration-process">


    <div class="row section-container">

        <div id="road-smart-pre"></div>
        <div id="road-smart-branding-triangle-ish-thingy"></div>
        <div id="road-smart-branding-container">
            <img class="position-road-smart-logo"
                 src="/app_assets/images/iamroad_smart_logo_atlas.png" alt="" />
        </div>
        <div class="col-xs-12  col-sm-4">
            <div class="company-logo"></div>
        </div>
        <div class="col-xs-12  col-sm-8">
            <div class="main-title add-margin-to-title"><span>{{ system.OrganisationName }}</span></div>
            <div class="main-subtitle"><span>{{ system.AppName }}</span></div>
        </div>
    </div>

    <div class="row section-container title-container">
        <div class="col-xs-12">
            <p class="top-text">
                You are in the process of booking a <span>{{ confirmationDetails.DORSCourse }}</span> program.
            </p>
        </div>
    </div><!-- end .row .section-container title-container -->

    <div class="row section-container title-container">
        <div class="col-xs-8">
            <div class="main-title">Registration and Course Booking Confirmation</div>
        </div>
        <div class="col-xs-4">
            <div class="btn pull-right" ng-click="previousStep()">Back</div>
        </div>
    </div><!-- end .row .section-container title-container -->

    <div class="row section-container remove-40margin-replace-10margin">

        <div class="col-xs-12">
            <p>
                Thank you for your booking {{ confirmationDetails.DisplayName }}<br />
                Please check and confirm the details below
            </p>
        </div><!-- end .col-xs-12 -->

        <div class="col-xs-12">
            <p class="pull-text-right reduce-text-size">
                Click <span class="terms-modal-link" ng-click="showTermsModal()">here</span> for terms and conditions.
            </p>
        </div><!-- end .col-xs-12 -->

        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-5">
                            <label>Your Name:</label>
                        </div><!-- end .col-xs-5 -->
                        <div class="col-xs-7">
                            <p>{{ confirmationDetails.DisplayName }}</p>
                        </div><!-- end .col-xs-7 -->
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-5">
                            <label>Your Address:</label>
                        </div><!-- end .col-xs-5 -->
                        <div class="col-xs-7">
                            <div id="clientAddress"></div>
                        </div><!-- end .col-xs-7 -->
                    </div><!-- end .row -->

                    <div class="row course-detail-margin">
                        <div class="col-xs-5">
                            <label>Course:</label>
                        </div><!-- end .col-xs-5 -->
                        <div class="col-xs-7">
                            {{ confirmationDetails.DORSCourse }}
                        </div><!-- end .col-xs-7 -->
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-5">
                            <label>From:</label>
                        </div><!-- end .col-xs-5 -->
                        <div class="col-xs-7">
                            {{ formatDate(course.StartDate) }}
                        </div><!-- end .col-xs-7 -->
                    </div><!-- end .row -->


                    <div class="row">
                        <div class="col-xs-5">
                            <label>To:</label>
                        </div><!-- end .col-xs-5 -->
                        <div class="col-xs-7">
                            {{ formatDate(course.EndDate) }}
                        </div><!-- end .col-xs-7 -->
                    </div><!-- end .row -->

                    <div class="row course-detail-margin">
                        <div class="col-xs-5">
                            <label>Venue:</label>
                        </div><!-- end .col-xs-5 -->
                        <div class="col-xs-7">
                            {{ course.Location }}
                        </div><!-- end .col-xs-7 -->
                    </div><!-- end .row -->


                    <div class="row">
                        <div class="col-xs-5">
                            <label>Venue Address:</label>
                        </div><!-- end .col-xs-5 -->
                        <div class="col-xs-7">
                            <div id="venueAddress"></div>
                        </div><!-- end .col-xs-7 -->
                    </div><!-- end .row -->

                </div>

                <div class="col-sm-6">
                    <div id="googleMapContainer" class="course-detail-margin">
                        <div id="map"></div>
                    </div>

                </div>

            </div><!-- end .row -->
        </div><!-- end .col-xs-12 -->


        <div class="col-xs-12 text-separation-10"></div>
        <div class="col-xs-12 add-extra-margin terms-container">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <strong>N.B.</strong> This booking will not be confirmed until Payment has been made.
                        The booking will be held for {{orgSystemConfig.bookingHeldMinutes}} minutes.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="pull-text-right paragraph-float reduce-text-size no-bottom-margin pull-right">
                        Click <span class="terms-modal-link" ng-click="showTermsModal()">here</span> for terms and conditions.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 add-extra-margin" ng-hide="validationMessage==''">
            <label><span class="validation-message">{{ validationMessage }}</span></label>
        </div>

        <div class="col-xs-12 text-separation-10">
            <div class="row">
                <div class="col-xs-4">
                    <div class="btn pull-left" ng-click="restartProcess()">Cancel</div>
                </div><!-- end .col-xs-7 -->
                <div class="col-xs-8 text-right">
                    <button class="btn" ng-click="previousStep()">Back</button>
                    &nbsp;
                    <button title="{{ mouseOverText }}" class="btn" ng-click="save()">Save and Continue</button>
                </div><!-- end .col-xs-5 -->
            </div><!-- end .row -->
        </div><!-- end .col-xs-12 -->

    </div><!-- end .row .section-container remove-40margin-replace-10margin -->
</div>
