<div id="clientCoursePayment" class="registration-process">


    <div class="row section-container">

        <div id="road-smart-pre"></div>
        <div id="road-smart-branding-triangle-ish-thingy"></div>
        <div id="road-smart-branding-container">
            <img class="position-road-smart-logo"
                 src="/app_assets/images/iamroad_smart_logo_atlas.png" alt="" />
        </div>
        <div class="col-xs-12  col-sm-4">
            <div class="company-logo"></div>
        </div>
        <div class="col-xs-12  col-sm-8">
            <div class="main-title add-margin-to-title"><span>{{ system.OrganisationName }}</span></div>
            <div class="main-subtitle"><span>{{ system.AppName }}</span></div>
        </div>
    </div>

    <div class="row section-container title-container">
        <div class="col-xs-12">
            <p class="top-text">
                You are in the process of booking a <span>{{ confirmationDetails.DORSCourse }}</span> program.
            </p>
        </div>
    </div><!-- end .row .section-container title-container -->

    <div class="row section-container title-container">
        <div class="col-xs-8">
            <div class="main-title">Course Booked Confirmation</div>
        </div>
        <div class="col-xs-4">
        </div>
    </div><!-- end .row .section-container title-container -->

    <div class="row section-container remove-40margin-replace-10margin">

        <div id="showPaymentInstructions">
            <div class="col-xs-12">
                <p>
                    Thank you for your booking {{ confirmationDetails.DisplayName }}.<br />
                    Your place is now reserved {{ confirmationDetails.StartDate | date: 'dd-MMM-yyyy'}}.
                    <br />
                    The outstanding amount is {{ confirmationDetails.CourseFee | currency: '£'}}.
                    <br />
                    The course reservation will be cancelled if the payment isn't made.
                    <br />
                    The booking will be held for {{orgSystemConfig.bookingHeldMinutes}} minutes.
                    <br />
                    To make the payment click the "Pay Now" button.
                </p>
            </div><!-- end .col-xs-12 -->
        </div><!-- end #showPaymentInstructions -->

        <div id="showPaymentScreen" style="display:none">
            <div class="col-xs-12">
                <div ng-controller="AcceptCardPaymentCtrl">
                    <div ng-include src="'/app/components/payment/acceptCard.html'"></div>
                </div>
            </div>
        </div><!-- end #showPaymentScreen -->


        <div id="showPaymentResponse" style="display:none">
            <div class="col-xs-12">
                <div id="theResponse">
                    <p>
                        Thank you for your Payment.<br />
                        An email confirmation will be sent to you.<br /><br />
                        Best Regards<br />
                        The Administrative Team.
                    </p>
                    <p class="pull-text-right reduce-text-size terms-modal-link">
                        Please click <a ui-sref="Client Home"><span class="blueitalic">here</span></a> to login.
                    </p>
                </div>
            </div><!-- end .col-xs-12 -->
        </div><!-- end #showPaymentResponse-->

        <div id="show3DSecureIFrameContainer" ng-if="threeDSecure.show3D">
            <div class="col-xs-12"><span class="PaymentSecuritLayerMessage">Security Layer Loading. Please follow instructions and Enter Details Required, when loaded. Thank you.</span></div>
            <div class="col-xs-12 ThreeDSecureIFrame">
                <iframe id="threeDSecureIFrame"
                        frameborder="0"
                        src="/login/clientCoursePaymentVerification"></iframe>
            </div><!-- end .col-xs-12 -->
        </div><!-- end #show3DSecureIFrameContainer -->
        
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="row col-sm-11" ng-show="organisationContacts.length > 0">
                    <em>If you are having problems making an online payment please call {{organisationContacts[0].OrganisationName}} on {{organisationContacts[0].OrganisationPhone}} or email <a href="mailto:{{organisationContacts[0].OrganisationEmail}}?Subject=DORS%20Course%20Booking">{{organisationContacts[0].OrganisationEmail}}</a>
                    </em>
                </div>
            </div>
        </div>
        <!--<div class="row col-xs-12"></div>-->

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-separation-40" ng-hide="paymentComplete">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                    <div class="btn pull-left" ng-click="restartProcess()">Cancel</div>
                </div><!-- end .col-xs-7 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="row">
                        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"></div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showContinueButton">
                            <div title="{{mouseOverText}} ng-hide="!threeDSecure.show3D"
                                    ng-disabled="!showContinueButton"
                                    class="btn pull-right"
                                    ng-click="completePayment()">Save and Continue</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!showContinueButton">
                            <div title="Start the payment process"
                                    ng-click="showPaymentScreen()"
                                    class="btn btn-group-justified PayNowButton">Pay Now</div>
                        </div>
                        <!--<div class="col-xs-1"></div>-->

                    </div><!-- end .row -->
                </div><!-- end .col-xs-5 -->
            </div><!-- end .row -->
        </div><!-- end .col-xs-12 -->

    </div><!-- end .row .section-container remove-40margin-replace-10margin -->




    </div>