<div id="cookiePolicy" class="cookiePolicy">
    <div class="row">
        <div class="col-md-12">
            <p>
                <span>
                    <b>How we use cookies:</b> This website uses cookies so that we can provide you with the best user experience and to deliver a system 
                    that is rich in features and as intuitive as possible.<br />
                    If you would like more information on exactly what cookies we store and their purpose please contact us.
                </span>
            </p>
        </div>
    </div>
</div>
