<div id="viewOrganisationContacts">
    <div class="row">
        <div class="col-md-12">
            <p>                
                <span>
                    It seems that the Licence number you have provided is not registered for any Road Improvement Courses.
                    You may want to contact one of the supporting organisations in your local area. The information is available on this web page.<br />
                    Click "Continue" to close this dialog.
                </span>
            </p>
        </div>
        <div class="col-md-12">
            <div class="col-xs-12 col-sm-4 pull-right">
                <div ng-click="closeDialog();" class="licence-button btn">Continue</div>
            </div>
        </div>
    </div>
</div>
