<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="DefaultEndpoint">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="DefaultEndpoint1">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="DefaultEndpoint2">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://supplier.uat.ndors.org.uk/WebService/OutDorsService_2013_12.svc"
                binding="wsHttpBinding" bindingConfiguration="DefaultEndpoint"
                contract="DORSService_v1.OutDorsServiceContract" name="DefaultEndpoint" />
            <endpoint address="https://supplier.uat.ndors.org.uk/WebService/OutDorsService_2016_04.svc"
                binding="wsHttpBinding" bindingConfiguration="DefaultEndpoint1"
                contract="DORSService_v2.OutDorsServiceContract" name="DefaultEndpoint1" />
            <endpoint address="https://supplier.uat.ndors.org.uk/webservice/v6.7/OutDorsService.svc"
                binding="wsHttpBinding" bindingConfiguration="DefaultEndpoint2"
                contract="DORSService.OutDorsServiceContract" name="DefaultEndpoint2" />
        </client>
    </system.serviceModel>
</configuration>