<div id="addInterpreterNote" class="addInterpreterNote">

    <form class="form-horizontal" role="form">

        <div class="row form-line-separator-10">
            <div class="col-md-12">
                <div class="add-note-title">
                    <strong>Add Interpreter Note</strong>
                </div>
            </div>
        </div>

        <div class="row form-line-separator">
            <div class="col-md-12">
                <select ng-options="noteType.Id as noteType.Name for noteType in noteTypes"
                        ng-model="note.type"
                        ng-change="selectNoteType(note.type)"
                        class="form-control">
                    <option value="" disabled>Please select a type</option>
                </select>
            </div><!-- .col-md-12 -->
        </div><!-- end .row .form-line-separator -->

        <div class="row form-line-separator">
            <div class="col-md-12">
                <textarea ng-model="note.text"
                          class="form-control default-note-textarea-height"></textarea>
            </div><!-- end .col-md-2 -->
        </div><!-- end .row .form-line-separator -->

        <div class="row form-line-separator-10">
            <div class="col-md-12">
                <div ng-click="save()"
                     class="btn pull-right">Save note</div>
            </div><!-- end .col-md-2 -->
        </div><!-- end .row .form-line-separator -->

        <div class="row col-sm-12 noRightPadding" ng-if="!selectNoteValidationMessage === false">
            <div class="col-sm-12 validation-message noLeftPadding leftalign">{{ selectNoteValidationMessage }}</div>
        </div>

    </form>
</div>