<div id="clientSitePaymentDiv">
    <div class="row marginBottom10">
        <div class="col-sm-12">
            <h3>To make a payment please contact your course provider:</h3>
        </div>
    </div>
    <div class="row marginBottom5">
        <div class="col-sm-2">
            <h3>Name:</h3>
        </div>
        <div class="col-sm-10">
            <h3><b>{{ organisationContact.OrganisationName }}</b></h3>
        </div>
    </div>
    <div class="row marginBottom5">
        <div class="col-sm-2">
            <h3>Phone:</h3>
        </div>
        <div class="col-sm-10">
            <h3><b>{{ organisationContact.OrganisationPhone }}</b></h3>
        </div>
    </div>
</div>