<script type="text/javascript">
    var cp_obj = CraftyPostcodeCreate();
    cp_obj.set("access_token", "baad2-c97f0-791d0-00ebc");
    cp_obj.set("first_res_line", "----- please select your address ----");
    cp_obj.set("res_autoselect", "0");
    cp_obj.set("single_res_autoselect", 1);
    cp_obj.set("result_elem_id", "crafty_postcode_result_display");
    cp_obj.set("form", "");
    cp_obj.set("elem_company", "company");
    cp_obj.set("elem_street1", "address1");
    cp_obj.set("elem_street2", "address2");
    cp_obj.set("elem_street3", "");
    cp_obj.set("elem_town", "town");
    cp_obj.set("elem_county", "county");
    cp_obj.set("elem_postcode", "postcodeAddressLookup");
</script>

<div id="editClient" class="EditClient">
   
    <system-feature-information title="edit client"
                                controller="editClientCtrl"
                                open-in-modal="true"
                                view-path="/app/components/client/edit"
                                page-name="edit client"
                                add-favourite="true">
    </system-feature-information>   
    
    <form class="form-horizontal" role="form" style="color: black; ">
        <div class='row'>
            <div class="col-sm-6">
                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Client Id:</label>
                    <div class='col-sm-9'>
                        {{client.Id}}<span ng-show="client.PreviousIds.length > 0">&nbsp;(Previous: <span ng-repeat="previousId in client.PreviousIds track by $index">{{previousId.PreviousClientId}}<span ng-show="$index < client.PreviousIds.length - 1">,</span></span>)</span>
                    </div>
                </div>

                <div class="row" ng-show="IsMysteryShopperAdministrator == true || isAdmin == true">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1">
                        <input type="checkbox" ng-model="client.IsMysteryShopper" />
                    </div>
                    <div class="col-sm-8">
                        <span class="reditalicbold">This Client is a Mystery Shopper</span>
                    </div>
                </div>

                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Title:</label>
                    <div class='col-sm-6'>

                        <select ng-model="selectedTitle"
                                ng-change="displayName(selectedTitle)"
                                class='form-control'
                                ng-options="title.StringId as title.Title for title in clientTitles"></select>
                    </div>
                    <div class='col-sm-3'>
                        <input class="form-control cm-sm-12" type="text" ng-model="client.OtherTitle" placeholder="Other" ng-show="selectedTitle == 'Other'" ng-keyup="displayName(selectedTitle)" />
                    </div>
                </div>

                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>First Name<font color="red">*</font>:</label>
                    <div class='col-sm-9'><input class="form-control cm-sm-12" type="text" ng-model="client.FirstName" placeholder="First Name" ng-keyup="displayName(selectedTitle)" ng-blur="capitalizeFirstName(client.FirstName)" /></div>
                </div>

                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Other Names:</label>
                    <div class='col-sm-9'><input class="form-control cm-sm-12" type="text" ng-model="client.OtherNames" placeholder="Other Names" ng-blur="capitalizeOtherNames(client.OtherNames)" /></div>
                </div>

                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Surname<font color="red">*</font>:</label>
                    <div class='col-sm-9'><input class="form-control cm-sm-12" type="text" ng-model="client.Surname" placeholder="Surname" ng-keyup="displayName(selectedTitle)" ng-blur="capitalizeSurname(client.Surname)" /></div>
                </div>

                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Date of Birth:</label>
                    <div class='col-sm-5'>
                        <input class="form-control cm-sm-12" type="text" format-date-iam ng-model="client.DateOfBirth" ng-click="toggleDOBCalendar()" />
                        <div style="position:absolute; z-index:100000;" ng-show="displayDOBCalendar">
                            <date-picker ng-model="client.DateOfBirth" format-date="formatDate" ng-mouseleave="toggleDOBCalendar(); ckeckDOBAgainstLicence()"></date-picker>
                        </div>
                    </div>
                    <div class='col-sm-2 element-overflow-0'>
                        <a ng-click="toggleDOBCalendar()" ng-show="!displayDOBCalendar" class="calendar-button col-sm-6" title="Show DOB Calendar"><div></div></a>
                        <a ng-click="toggleDOBCalendar()" ng-show="displayDOBCalendar" class="calendar-button col-sm-6" title="Hide DOB Calendar"><div></div></a>
                    </div>
                </div>

                <div class='row col-sm-12' ng-show="client.DOBDiffersFromLicence == true">
                    <div class='col-sm-3'></div>
                    <div class='col-sm-9'>
                        <span class="warning-message">DOB does not match the Licence</span>
                    </div>
                </div>

                <div class='row col-sm-12' ng-show="showClientDisplayName">
                    <label class='col-sm-3 control-label'>Display Name:</label>
                    <div class='col-sm-9'><input class="form-control cm-sm-12" type="text" ng-model="client.DisplayName" placeholder="Display Name" ng-keyup="displayNameChanged = true" /></div>
                </div>
                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'></label>
                    <div class='col-sm-6'>
                        <input class="form-control cm-sm-12" type="text" id="postcodeAddressLookup" ng-model="client.postcode" capitalize placeholder="Post Code Search" title="Find Address: Enter Post Code" />
                    </div>
                    <div class='col-sm-3'>
                        <div class="btn" ng-click="getAddressChoices()">Find</div>
                    </div>
                </div>
                <!--<div class='row col-sm-12'>
                    <span id="crafty_postcode_result_display" class='row col-sm-12'></span>
                </div>-->
                <div class='row' ng-show="TransformedAddressList.length > 0">
                    <div class='col-sm-3'></div>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="selectedAddress" ng-options="o as o for o in TransformedAddressList" ng-change="selectAddress(selectedAddress)">
                            <option value="">Please select an address</option>
                        </select>
                    </div>
                </div>
                <div class='row col-sm-12' style="display:none;">
                    <label class='col-sm-3 control-label'>Company:</label>
                    <div class='col-sm-8'><input class="form-control cm-sm-12" type="text" id="company" ng-model="client.company" placeholder="Company" /></div>
                    <div class='col-sm-1'></div>
                </div>
                <div class='row col-sm-12' style="display:none;">
                    <label class='col-sm-3 control-label'>Address 1:</label>
                    <div class='col-sm-8'><input class="form-control cm-sm-12" type="text" id="address1" ng-model="client.address1" placeholder="Address" /></div>
                    <div class='col-sm-1'></div>
                </div>
                <div class='row col-sm-12' style="display:none;">
                    <label class='col-sm-3 control-label'>Address 2:</label>
                    <div class='col-sm-8'><input class="form-control cm-sm-12" type="text" id="address2" ng-model="client.address2" placeholder="Address" /></div>
                    <div class='col-sm-1'></div>
                </div>
                <div class='row col-sm-12' style="display:none;">
                    <label class='col-sm-3 control-label'>Town:</label>
                    <div class='col-sm-8'><input class="form-control cm-sm-12" type="text" id="town" ng-model="client.town" placeholder="Town" /></div>
                    <div class='col-sm-1'></div>
                </div>
                <div class='row col-sm-12' style="display:none;">
                    <label class='col-sm-3 control-label'>County:</label>
                    <div class='col-sm-8'><input class="form-control cm-sm-12" type="text" id="county" ng-model="client.county" placeholder="County" /></div>
                    <div class='col-sm-1'></div>
                </div>
                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Address<font color="red">*</font>:</label>
                    <div class='col-sm-9'><textarea rows="4" class="form-control" type="text" id="county" ng-model="client.Address" placeholder="Address" ng-change="capitaliseAddress(client.Address)"/></div>
                </div>
                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Post Code:</label>
                    <div class='col-sm-5'><input class="form-control cm-sm-12" type="text" id="postcode" ng-model="client.postcode" placeholder="Post Code"/></div>
                    <div class='col-sm-4'></div>
                </div>
                <div class='row col-sm-12' style="display:none;">
                    <label class='col-sm-3 control-label'>Country:</label>
                    <div class='col-sm-9'>
                        <!--I am not happy with the Plonker who hard coded the Countries in the UI, below. Very Bad practice .... RCN-->
                        <!--TODO MOVE Countries FROM HERE-->
                        <select id="countries" name="countries" ng-model="client.Country" ng-init="client.country = 'United Kingdom'" class='col-sm-12 form-control'>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Åland Islands">Åland Islands</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antarctica">Antarctica</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Bouvet Island">Bouvet Island</option>
                            <option value="Brazil">Brazil</option>
                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cape Verde">Cape Verde</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Christmas Island">Christmas Island</option>
                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo">Congo</option>
                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                            <option value="Cook Islands">Cook Islands</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                            <option value="Faroe Islands">Faroe Islands</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="French Guiana">French Guiana</option>
                            <option value="French Polynesia">French Polynesia</option>
                            <option value="French Southern Territories">French Southern Territories</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Greece">Greece</option>
                            <option value="Greenland">Greenland</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guadeloupe">Guadeloupe</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guernsey">Guernsey</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-bissau">Guinea-bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Isle of Man">Isle of Man</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jersey">Jersey</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                            <option value="Korea, Republic of">Korea, Republic of</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macao">Macao</option>
                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Martinique">Martinique</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mayotte">Mayotte</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Niue">Niue</option>
                            <option value="Norfolk Island">Norfolk Island</option>
                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Pitcairn">Pitcairn</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Reunion">Reunion</option>
                            <option value="Romania">Romania</option>
                            <option value="Russian Federation">Russian Federation</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Saint Helena">Saint Helena</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Lucia">Saint Lucia</option>
                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                            <option value="Samoa">Samoa</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Solomon Islands">Solomon Islands</option>
                            <option value="Somalia">Somalia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                            <option value="Swaziland">Swaziland</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Timor-leste">Timor-leste</option>
                            <option value="Togo">Togo</option>
                            <option value="Tokelau">Tokelau</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                            <option value="Tuvalu">Tuvalu</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Viet Nam">Viet Nam</option>
                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                            <option value="Western Sahara">Western Sahara</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                    </div>
                </div>
                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Email:</label>
                    <div class='col-sm-9'><input class="form-control cm-sm-12" type="text" ng-model="client.Email" placeholder="Email Address" /></div>
                </div>
                <div class='row col-sm-12'>
                    <label class='col-sm-3 control-label'>Phone:</label>
                    <div class='col-sm-4'>
                        <!--TODO MOVE Phone Number Types FROM HERE. This Should be coming from the Database.-->
                        <select ng-model="client.phoneNumberType" class="col-sm-12 form-control">
                            <option>Mobile</option>
                            <option>Home</option>
                            <option>Work</option>
                            <option>Online</option>
                            <option>Fax</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class='col-sm-5'>
                        <input class="form-control cm-sm-12 control-button" type="text" placeholder="Phone Number" ng-model="client.phoneNumber" />
                    </div>
                    <div class='col-sm-1 element-overflow-1'>
                        <button ng-click="addPhone()" class="btn btn-default btn-sm" title="Create a new Phone number line.">Add</button>
                    </div>
                </div>
                <div class='row col-sm-12' ng-repeat="phoneNumber in client.ClientPhones track by $index">
                    <label class='col-sm-3 control-label'></label>
                    <div class='col-sm-4'>
                        <!--TODO MOVE Phone Number Types FROM HERE. This Should be coming from the Database.-->
                        <select ng-model="phoneNumber.PhoneType.Type" ng-init="phoneNumber.PhoneType.Type = getPhoneNumberType($index)" ng-change="updatePhoneType(phoneNumber.PhoneType.Type, $index)" class='col-sm-12 form-control'>
                            <option>Mobile</option>
                            <option>Home</option>
                            <option>Work</option>
                            <option>Online</option>
                            <option>Fax</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class='col-sm-5'>
                        <input class="form-control cm-sm-12 control-button" type="text" placeholder="Phone Number" value="{{phoneNumber.PhoneNumber}}" ng-model="phoneNumber.PhoneNumber" ng-change="updatePhoneNumber(phoneNumber.PhoneNumber, $index)" />
                    </div>
                    <div class='col-sm-1 element-overflow-1'>
                        <button ng-click="deletePhoneNumber($index)"
                                class="btn btn-default btn-sm"
                                title="Delete this phone number from the Client's Record">
                            Delete
                        </button>
                    </div>
                </div>
                <!--Email Course Reminders-->
                <div class='row col-sm-12'>
                    <label class='col-sm-3'>&nbsp;</label>
                    <div class='col-sm-9'>
                        <div class="col-md-2">
                            <input type="checkbox" ng-model="client.EmailCourseReminders" />
                        </div>
                        <div class="col-md-10">
                            <label>Email Course Reminders</label>
                        </div>
                    </div>
                </div>
                <!--SMS Course Reminders-->
                <div class='row col-sm-12' ng-if="isSMSEnabled">
                    <label class='col-sm-3'>&nbsp;</label>
                    <div class='col-sm-9'>
                        <div class="col-md-2">
                            <input type="checkbox" ng-model="client.SMSCourseReminders" />
                        </div>
                        <div class="col-md-10">
                            <label>SMS Course Reminders</label>
                        </div>
                    </div>
                </div>
                <div class='row col-sm-12'>
                </div>
            </div>
            <div class="col-sm-6">
                <div class='row'>
                    <label class='col-sm-3 control-label'></label>
                    <div class='col-sm-9'><label><input type="checkbox" ng-model="client.UKLicence"/>&nbsp;UK Licence Holder</label></div>
                </div>
                <div class='row'>
                    <div class='col-sm-3 noLeftPadding'><label class="control-label">Licence<font color="red" ng-show="client.UKLicence == true">*</font>:</label></div>
                    <div class='col-sm-9'><input class="form-control cm-sm-12" type="text" ng-model="client.LicenceNumber"  capitalize placeholder="Licence Number" readonly/></div>
                </div>
                <div class='row'>
                    <div class='col-sm-3 noLeftPadding'>
                        <label>Type:</label>
                    </div>
                    <div class='col-sm-9'>
                       
                        <select ng-model="client.LicenceTypeId"
                                class='form-control'
                                ng-options="licenceType.Id as licenceType.Name for licenceType in licenceTypes">
                        </select>
                     
                    </div>
                </div>
                <div class='row' ng-show="showDriversLicenceExpiryDate">
                    <div class='col-sm-3 noLeftPadding'>
                        <label class='control-label'>Licence Expiry:</label>
                    </div>
                    <div class='col-sm-5'>
                        <input class="form-control cm-sm-12" type="text" format-date-iam ng-model="client.LicenceExpiryDate" ng-click="toggleCalendar()" />
                    </div>
                    <div class='col-sm-2 element-overflow-0'>
                        <a ng-click="toggleCalendar()" ng-show="!displayCalendar" class="calendar-button col-sm-6" title="Show Calendar"><div></div></a>
                        <a ng-click="toggleCalendar()" ng-show="displayCalendar" class="calendar-button col-sm-6" title="Hide Calendar"><div></div></a>
                    </div>
                </div>
                <div class='row' ng-show="showDriversLicenceExpiryDate">
                    <div class='col-sm-3'></div>
                    <div class='col-sm-5'>
                        <div style="position:absolute;  z-index:1000;" ng-show="displayCalendar">
                            <date-picker ng-model="client.LicenceExpiryDate" format-date="formatDate" ng-mouseleave="toggleCalendar()"></date-picker>
                        </div>
                    </div>
                </div>

                <div class='row' ng-show="showPhotoCardExpiry">
                    <div class='col-sm-3 noLeftPadding'>
                        <label class='control-label'>Photocard Expiry:</label>
                    </div>
                    <div class='col-sm-5'>
                        <input class="form-control cm-sm-12" type="text" format-date-iam ng-model="client.LicencePhotoCardExpiryDate" ng-click="togglePhotoCalendar()" />
                    </div>
                    <div class='col-sm-2 element-overflow-0'>
                        <a ng-click="togglePhotoCalendar()" ng-show="!displayPhotoCalendar" class="calendar-button col-sm-6" title="Show Calendar"><div></div></a>
                        <a ng-click="togglePhotoCalendar()" ng-show="displayPhotoCalendar" class="calendar-button col-sm-6" title="Hide Calendar"><div></div></a>
                    </div>
                </div>
                <div class='row' ng-show="showPhotoCardExpiry">
                    <div class='col-sm-3'></div>
                    <div class='col-sm-5'>
                        <div style="position:absolute; z-index:1000;" ng-show="displayPhotoCalendar">
                            <date-picker ng-model="client.LicencePhotoCardExpiryDate" format-date="formatDate" ng-mouseleave="togglePhotoCalendar()"></date-picker>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-3 noLeftPadding'>
                        <label class='control-label'>Notes:</label>
                    </div>
                    <div class='col-sm-9'>
                        <div class="marginBottom5">
                            <button class="btn"
                                    ng-click="addNote(client.Id)"
                                    title="Add a New Note for this Client">
                                Add Note
                            </button>
                        </div>
                        <div>
                            <textarea rows="8" class="form-control" type="text" ng-model="client.Notes.Notes" ng-disabled="true"></textarea>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-3 noLeftPadding'>
                        <label class='control-label'>&nbsp;</label>
                    </div>
                    <div class='col-sm-9 noLeftPadding' ng-show="!client.UserId > 0">
                        <div class="col-md-1">
                            <input type="checkbox" ng-model="client.AddUser" />
                        </div>
                        <div class="col-md-9">
                            <label>Connect Client to Existing User</label>
                        </div>
                    </div>
                </div>

                <div class='row col-sm-12' ng-show="client.AddUser">
                    <label class='col-sm-3 control-label'>User:</label>
                    <div class='col-sm-9'>
                        <input id="userText"
                               type="text"
                               ng-model="selected"
                               placeholder="Bind To A User"
                               typeahead-min-length="3"
                               typeahead-on-select="selectedUser($item)"
                               typeahead-no-results="noResults"
                               typeahead-loading="loadingLocations"
                               class="form-control cm-sm-12"
                               uib-typeahead="item as item.LoginId for item in getSearchableItems($viewValue) | limitTo:15" />
                        <div ng-show="loadingLocations" class="set-white">
                            <i class="glyphicon glyphicon-refresh"></i> Loading results
                        </div>
                        <div ng-show="noResults" class="set-red">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>

                <div class='row marginBottom10' ng-show="client.UserId > 0 && !client.AddUser">
                    <div class='col-sm-3 noLeftPadding'>
                        <label class='control-label'>Bound to User:</label>
                    </div>
                    <div class='col-sm-9'>
                        <input type="text" class="marginBottom10" ng-disabled="true" ng-model="client.User_User.Name" />
                    </div>
                </div>
                <!-- end bind to existing user -->
                <div class="row col-sm-12" ng-if="clientId">

                    <div class="line-holder form-line-separator" ng-if="mobileExists && isSMSEnabled">
                        <div class="col-md-5">
                            <div class="confirmation-container">
                                <div class="checkbox-confirm-container">
                                    <input type="checkbox"
                                           ng-model="client.SMSConfirmed"
                                           ng-disabled="true" />
                                </div>
                                <div class="text-container">
                                    SMS Confirmed
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="btn confirmation-button-float-right"
                                 ng-click="processSMSConfirmation()"
                                 ng-if="isSMSEnabled">Send SMS Confirmation</div>
                        </div>
                    </div>
                    <div class="line-holder" ng-if="emailExists">
                        <div class="col-md-5">
                            <div class="confirmation-container">
                                <div class="checkbox-confirm-container">
                                    <input type="checkbox"
                                           ng-model="client.EmailedConfirmed"
                                           ng-disabled="true" />
                                </div>
                                <div class="text-container">
                                    Email confirmed
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="btn confirmation-button-float-right"
                                 ng-click="processEmailConfirmation()">Send Email Confirmation</div>
                        </div>
                    </div>

                </div><!-- End the confirmation -->
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8"></div>

            <div class="col-sm-2 text-right">
                <button ng-click="saveClient()" class="btn fixed-width-80" title="Save">Save</button>
            </div>

            <div class="col-sm-2 text-right">
                <button class="btn fixed-width-80" onclick="$('button.close').last().trigger('click')" title="Close this window, without saving.">Close</button>
            </div>
        </div>

        <div class="row col-sm-12 noRightPadding" ng-if="!saveStatusMessage === false">
            <div class="col-sm-12 success-message noLeftPadding leftalign">{{ saveStatusMessage }}</div>
        </div>

        <div class="row col-sm-12 noRightPadding" ng-if="!validationMessage === false">
            <div class="col-sm-12 validation-message noLeftPadding leftalign">{{ validationMessage }}</div>
        </div>

    </form>

</div>