<div id="editCourseBookingDiv">
    <div class="row marginBottom10">
        <div class="col-sm-12">
            Client: <b>{{client.DisplayName}}</b> (Id: {{ client.Id }})
        </div>
    </div>
    <div class="row marginBottom10">
        <div class="col-sm-12">
            <div>Course: <b>{{ currentCourse.Reference }}</b> ({{ currentCourse.CourseDate | date:'dd MMM yyyy' | uppercase }} at {{currentCourse.CourseDate | date :'HH:mm'}})</div>
            <div ng-show="currentCourse.IsDORSCourse"><b>This a DORS controlled Course.</b></div>
        </div>
    </div>
    <div class="row marginBottom5">
        <div class="col-sm-12">
            <button class="btn" ng-click="removeFromCourse()">Remove From Course</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn" ng-click="transferToNewCourse()">Transfer to New Course</button>
        </div>
    </div>
</div>