<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="Atlas_DevEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:atlastest.database.windows.net,1433;initial catalog=Atlas_Dev;User ID=Atlas!Test1961@atlastest;Password=IAM1961!TestAndDev&quot;" providerName="System.Data.EntityClient" />
    <add name="Atlas_DevEntitiesViews" connectionString="metadata=res://*/ViewsOnlyModel.csdl|res://*/ViewsOnlyModel.ssdl|res://*/ViewsOnlyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:atlastest.database.windows.net,1433;initial catalog=Atlas_Dev;User ID=Atlas!Test1961@atlastest;Password=IAM1961!TestAndDev&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework codeConfigurationType="IAM.Atlas.Data.DBConfiguration.AtlasDataContextConfiguration, IAM.Atlas.Data">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>