<div id="addVehicleTypeModal" class="addVehicleTypeModal">

    <div class="row form-line-separator">
        <div class="col-sm-12">
            <label class='control-label'>Name</label>
        </div>
        <div class="col-sm-12">
            <input class="form-control" 
                   type="text" 
                   ng-model="vehicleType.VehicleTypeName" 
                   placeholder="Vehicle Type Name"/>
        </div>
    </div>

    <div class="row form-line-separator marginBottom5">
        <div class="col-sm-12">
            <label>Description</label>
        </div>
        <div class="col-sm-12">
            <textarea class="form-control"
                      ng-model="vehicleType.VehicleTypeDescription"
                      maxlength="400"
                      rows="4"
                      placeholder="Vehicle Type Decription"></textarea>
        </div>
    </div>

    <div class='row form-line-separator'>
        <div class='col-sm-12'>
            <input type="checkbox"  ng-model="vehicleType.VehicleTypeDisabled" />
            <span class="blueitalic">Disable</span>
        </div>
    </div>

    <div class="row form-line-separator">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-default btn-sm pull-left" onclick="$('button.close').last().trigger('click')">Cancel</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-default btn-sm pull-right" ng-click="addVehicleType()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-line-separator noRightPadding" ng-if="!validationMessage === false">
        <div class="col-sm-12 validation-message noRightPadding">{{ validationMessage }}</div>
    </div>
</div>
