
/**
 * Do not anything else above to this file
 */ 
#addCourse {

    .checkbox-container {
        padding-top: 7px;
    }
    .add-top-margin-20 {
        margin-top: 20px;
    }
    .additional-information-container {
        border: 1px solid #cecece;
        border-top: 0px;
        @include theBorderRadius(0px 0px 5px 5px);
        margin-top: -12px;
        padding: 10px;
        margin-left: 3px;
        margin-right: -3px;
        p {
            margin-top:3px;
            margin-bottom: 0px;
        }
    }

}

