#addDataView {

    h3 {
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    .form-line-holder {
        margin-bottom: 6px;
        label {
            padding-top: 10px;
        }     
    }
    .action-button-container {
        margin-top:20px;
    }

    .userButton {

    }

    .save {
        float: right;
    }

}