.attachCourseEmailAttachment
{

    width: 450px;

        
        .sml-scroll-div {
            border: 1px solid black;
        }

         tr.isSelected td {
            background: #cce9ff;
            }

        .table tr:hover td
        {
            background-color:#ffffe6;
        }
        
    }


