
.blockedIP {
    
        /*form {
        width: 100%;
        height: auto;
        overflow: visible;

      
         .selectedEmail {
            background: #00508f;
            color: #fff;
        }

         .selectedEmail:hover {
            background: #00508f;
            color: #fff;
        }*/



        .sml-scroll-div {
            border: 1px solid black;
        }


         tr.isSelected td {
            background: #00508f;
            color: #fff;
            }

    /*}*/
}