
/**
    * Change Password Feature CSS
    */
.change-password-container {
    width: 450px;

    .autocomplete {
        ul {
            padding-left: 0px;
            list-style-type: none;
            li {
                border-bottom: 1px solid #e2e2e2;
                padding: 5px 0;
                span {
                    background: #faf6b4;
                }
            }
            li:last-child {
                border-bottom: 0px;
            }
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #cecece;
    }
    .request-message {
        margin: 15px 0 20px;
        text-align:center;
    }
    .send-email-button {
        margin: 15px 0;
    }

    label {
        padding-top:10px;
    }

    input {
        width: 100%;
        font-size: 13px;
        margin-top: 8px;
    }
        
    .very-weak {
        background: #faf20d;
        border: 1px solid #efd105;
        padding-top: 1px;
    }
    .medium-strong {
        background: #fbc35b;
        border: 1px solid orange;
        padding-top: 1px;
    }
    .strong {
        background: #99f299;
        border: 1px solid #63d563;
        padding-top: 1px;
    }
    .very-strong {
        background: #0BD20B;
        border: 1px solid #018a01;
        color: $textColour;
        padding-top: 1px;
    }

     .password-confirmation-message {
            padding-top: 9px;
            text-align:center;
     }

    .password-reset-button {
        // width: 100%;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .password-match {
        margin-bottom: 10px;
    }
    .password-validation {
        height: 20px;
        //@include borderRadius(4px);
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;
        font-size: x-small;
    }        
}
