.clientDeleteMarked {
    
        /*form {
        width: 100%;
        height: auto;
        overflow: visible;

      
         .selectedClient {
            background: #00508f;
            color: #fff;
        }

         .selectedClient:hover {
            background: #00508f;
            color: #fff;
        }*/

          tr.isSelected td {
            background: #00508f;
            color: #fff;
            }
    /*}*/
}