.courseTrainer{

    tr.selectedTableRow
    {
        color: white;
        background-color:#428bca;
    }

    tr.selectedTableRow:hover
    {
        color: black;
        background-color:#428bca;
    }








}
