.documentDeleteMarked {
    
        /*form {
        width: 100%;
        height: auto;
        overflow: visible;

      
         .selectedDocument {
            background: #00508f;
            color: #fff;
        }

         .selectedDocument:hover {
            background: #00508f;
            color: #fff;
        }*/

          tr.isSelected td {
            background: #cce9ff;
            }
    /*}*/
}