.dorsLicenceCheck 
{
    .modal-content
    {
        width: 600px;
    }

    .bootstrap-dialog-message
    {
        width: 540px;
    }
    
    .dorsClientStatus
    {
        padding-bottom: 5px;
    }

    #additionalDorsInfo
    {
        max-height: 400px;
        overflow-y: scroll;
    }

    .row
    {
        padding-bottom: 5px;
    }
}
