.emailAllClients {
    
    
    form {

        width: 100%;
        height: auto;
        overflow: visible;

        .textareacontent {
	        height: 200px;
        }

        .textareaattachment {
	        height: 60px;
        }
      
        #clientEmailSendAfterTime{
             width: 100px;
        }
    }
}