

.netcallAddAgent {
    
    /*width: 900px;*/

        /*form {
        width: 100%;
        height: auto;
        overflow: visible;*/

         .selectedSupportUser {
            background: #00508f;
            color: #fff;
        }

         .selectedSupportUser:hover {
            background: #00508f;
            color: #fff;
        }
    /*}*/
}