#recordPayment {
    .red {
        color: red;
    }

    .date-icon {
        margin-top: 6px;
        @include iconGetter(-6px, -506px);
        height: 20px;
        display: block;
    }

    textarea.add-note {
        height: 99px;
        overflow-y: scroll;
    }

}