#refundPaymentDiv
{
    width: 900px;

    h3
    {
        margin:0px;
    }

    .row
    {
        margin-bottom:5px;
    }

    #refundingPaymentDiv
    {
        border: 1px solid #ccc;
        padding: 15px;


    }
    
    .notes
    {
        height: 110px;
    }
}