.systemTask {
    
        form {
        width: 100%;
        height: auto;
        overflow: visible;

        .table tr:hover td
        {
            background-color:#ffffe6;
        }

        .selectedSystemTask {
            background: #cce9ff !important;
        }

        .selectedSystemTask:hover {
            background: #ffffe6;
        }

        .sml-scroll-div {
            border: 1px solid black;
        }
    }
}
