#taskAssignToUserDiv{
    .taskSelectedOrganisationUser td{
        background-color:#85d5f8;
    }
}

#TaskListDiv{
    .selectedTask td{
        background-color:#85d5f8;
    }
}

#relateTaskToTrainerDiv{
    .taskSelectedOrganisationTrainer td{
        background-color:#85d5f8;
    }
}

#relateTaskToClientDiv{
    .taskSelectedOrganisationClient td{
        background-color:#85d5f8;
    }
}

#relateTaskToCourseDiv{
    .taskSelectedOrganisationCourse td{
        background-color:#85d5f8;
    }
}

