#updateSpecialRequirements {

    .extended-header {
        margin-bottom: -20px;
        label.header-titles {
            font-weight: normal;
            margin-bottom: 0px;
        }
    }
    
    p {
        margin-bottom: 3px;
    }
}
