.vehicleCategoryAdmin {
    
    form {
        width: 100%;
        height: auto;
        overflow: visible;

      
       .table tr:hover td
        {
            background-color:#ffffe6;
        }

        .selectedVehicleCategoryId {
            background: #cce9ff !important;
        }

        .selectedVehicleCategoryId:hover {
            background: #ffffe6;
        }

        .sml-scroll-div {
            border: 1px solid black;
            height:190px;
            }

       
    }
}